<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
    <section name="urlrewritingnet" type="UrlRewritingNet.Configuration.UrlRewriteSection,UrlRewritingNet.UrlRewriter" requirePermission="false" restartOnExternalChanges="true" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="imgFolder" value="HinhAnh" />
    <add key="imgUser" value="../Assets/HinhAnh/Users/" />
    <add key="mailTo" value="truongvietco2015@gmail.com" />
    <add key="mailFrom" value="truongvietco.order@gmail.com" />
    <add key="mailFromPass" value="truongviet@123" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=DESKTOP-SLC4F5P;Initial Catalog=HaiDen;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Data Source=tcp:haidendbserver.database.windows.net,1433;Initial Catalog=HaiDenDB;User Id=haiden@haidendbserver;Password=12345678@Xx" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="index" virtualUrl="^~/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/index.aspx" ignoreCase="true" />
      <add name="si" virtualUrl="^~/signin" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/SignIn.aspx" ignoreCase="true" />
      <add name="su" virtualUrl="^~/signup" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/SignUp.aspx" ignoreCase="true" />
      <add name="member" virtualUrl="^~/member" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/Member.aspx" ignoreCase="true" />
      <add name="favorite" virtualUrl="^~/favorite" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/Favorites.aspx" ignoreCase="true" />
      <add name="aboutus" virtualUrl="^~/about-us" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/AboutUs.aspx" ignoreCase="true" />
      <add name="contactus" virtualUrl="^~/contact-us" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/ContactUs.aspx" ignoreCase="true" />
      <add name="faq" virtualUrl="^~/faq" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/FAQ.aspx" ignoreCase="true" />
      <add name="collection" virtualUrl="^~/collection/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/Collections.aspx?alias=$1" ignoreCase="true" />
      <add name="dress" virtualUrl="^~/dress/(.*)-(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/Dress.aspx?id=$2" ignoreCase="true" />
      <add name="process" virtualUrl="^~/order-process" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/OrderProcess.aspx" ignoreCase="true" />
      <add name="term" virtualUrl="^~/terms-conditions" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/TermsConditions.aspx" ignoreCase="true" />
      <add name="privacy" virtualUrl="^~/privacy-policy" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/PrivacyPolicy.aspx" ignoreCase="true" />
      <add name="news" virtualUrl="^~/news" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/News.aspx?alias=$1" ignoreCase="true" />
      <add name="newsdetail" virtualUrl="^~/post/(.*)-(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/NewsDetail.aspx?id=$2" ignoreCase="true" />
      <add name="BridesStories" virtualUrl="^~/brides-stories" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/BridesStories.aspx?id=$1" ignoreCase="true" />
      <add name="BridesStoriesdetail" virtualUrl="^~/story/(.*)-(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Views/BridesStoriesDetail.aspx?id=$2" ignoreCase="true" />
      <add name="upload" virtualUrl="^~/uploadimg/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Common/upload_img.ashx?name=$1" ignoreCase="true" />
    </rewrites>
  </urlrewritingnet>
  <system.webServer>
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>