<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2bcd0280-b8f8-4664-8bd0-3b6b25fc1009/resourceGroups/DefaultResourceGroup-CCAN/providers/Microsoft.Web/sites/HaiDen20241017001507</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CCAN</ResourceGroup>
    <RuntimeIdentifier />
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://haiden20241017001507.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>haiden20241017001507.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HaiDen20241017001507</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$HaiDen20241017001507</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:haiden.database.windows.net,1433;Initial Catalog=HaiDen;User ID=haiden@haiden;Password=12345678@Xx" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:haiden.database.windows.net,1433;Initial Catalog=HaiDen;User ID=haiden@haiden;Password=12345678@Xx" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:haiden.database.windows.net,1433;Initial Catalog=HaiDen;User Id=haiden@haiden;Password=12345678@Xx" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:haiden.database.windows.net,1433;Initial Catalog=HaiDen;User ID=haiden@haiden;Password=12345678@Xx</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>